extends ./layout/common
block content
    .row
        .col-md-3
            .list-group
                p.list-group-item(style='margin: 0') Danh sách sản phẩm
                a.list-group-item.list-group-item-action(href='/Sách bán chạy') Sách bán chạy    
                a.list-group-item.list-group-item-action(href='/Sách văn học') Sách văn học
                a.list-group-item.list-group-item-action(href='/Sách kĩ năng') Sách kĩ năng
                a.list-group-item.list-group-item-action(href='/Sách kinh tế') Sách kinh tế
                a.list-group-item.list-group-item-action(href='/Sách tiếng anh') Sách tiếng anh
        .col-md-9
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item.active(aria-current='page',style='display:flex; align-items:center') Trang chủ
                    form.form-inline.ml-auto.mb-0
                        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

            .row
                each product in products
                    .col-md-4.mb-2
                        .card
                            img.card-img-top(src= product.img, alt= product.name)
                            .card-body
                                p.card-text= product.name
                                span= product.price + ' đ'
                                div.card-button
                                    a.btn.btn-success(href="#") Thêm vào giỏ
                                    a.btn.btn-danger(href="#") Xem chi tiết
                //- .col-md-4.mb-2
                //-     .card
                //-         img.card-img-top(src='https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_1_2.jpg', alt='...')
                //-         .card-body
                //-             p.card-text Không bao giờ là thất bại
                //-             span 50.000đ
                //-             div.card-button
                //-                 a.btn.btn-success(href="#") Thêm vào giỏ
                //-                 a.btn.btn-danger(href="#") Xem chi tiết
                //- .col-md-4.mb-2
                //-     .card
                //-         img.card-img-top(src='https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_184254.jpg', alt='...')
                //-         .card-body
                //-             p.card-text Những kẻ xuất chúng
                //-             span 50.000đ
                //-             div.card-button
                //-                 a.btn.btn-success(href="#") Thêm vào giỏ
                //-                 a.btn.btn-danger(href="#") Xem chi tiết
                //- .col-md-4.mb-2
                //-     .card
                //-         img.card-img-top(src='https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/n/x/nxbtre_full_06372017_103735.jpg', alt='...')
                //-         .card-body
                //-             p.card-text Từ tốt đến vĩ đại
                //-             span 50.000đ
                //-             div.card-button
                //-                 a.btn.btn-success(href="#") Thêm vào giỏ
                //-                 a.btn.btn-danger(href="#") Xem chi tiết
                //- .col-md-4.mb-2
                //-     .card
                //-         img.card-img-top(src='https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/i/m/image_184254.jpg', alt='...')
                //-         .card-body
                //-             p.card-text Những kẻ xuất chúng
                //-             span 50.000đ
                //-             div.card-button
                //-                 a.btn.btn-success(href="#") Thêm vào giỏ
                //-                 a.btn.btn-danger(href="#") Xem chi tiết
                //- .col-md-4.mb-2
                //-     .card
                //-         img.card-img-top(src='https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_1_2.jpg', alt='...')
                //-         .card-body
                //-             p.card-text Không bao giờ là thất bại
                //-             span 50.000đ
                //-             div.card-button
                //-                 a.btn.btn-success(href="#") Thêm vào giỏ
                //-                 a.btn.btn-danger(href="#") Xem chi tiết




            